<% url = request.fullpath.split('/') %>
<%= render :partial=>"partials/header" %>
<div class="layout edit">
		<small class="cls">
			<%= link_to(@content) do %><span class="icon-remove edit"><span data-title="Cancel"></span></span><% end %>
		</small>
</div>
<%= render 'form' %>
<%#= link_to 'Show', @content %><%#= link_to 'Back', contents_path %>
<%= render :partial=>"partials/footer" %>