<%= render :partial=>"partials/header" %>
<div class="main" role="main">
  
	<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, hic fugit eos dolorum et iste neque odit obcaecati maiores eaque veniam reiciendis eum dicta? Dolor aut expedita consectetur magnam eligendi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, hic fugit eos dolorum et iste neque odit obcaecati maiores eaque veniam reiciendis eum dicta? Dolor aut expedita consectetur magnam eligendi.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, hic fugit eos dolorum et iste neque odit obcaecati maiores eaque veniam reiciendis eum dicta? Dolor aut expedita consectetur magnam eligendi.</p>-->

	<%= link_to 'New Content', new_content_path, :class => 'btn' %>

</div>
<%= render :partial=>"partials/footer" %>