<header role="banner">
  <h2><a href="">Contentboard</a></h2>
</header>

<div class="main" role="main">
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, hic fugit eos dolorum et iste neque odit obcaecati maiores eaque veniam reiciendis eum dicta? Dolor aut expedita consectetur magnam eligendi.</p>

  <%= link_to 'New Content', new_content_path, :class => 'btn' %>

</div>
