<% url = request.fullpath.split('/') %>
<div class="table-cell">
	<div class="wrapper<% if url[3] == 'edit' %> edit<% end %>">
		<% if url[3] != 'edit' %>
		<header role="banner">
		  <h2>
		  	<a href="/">Contentboard
				<span class="icon-pencil"></span>
		  	</a>
		  </h2>
		</header>
		<% end %>