// Place all the styles related to the Contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: 320px) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: 321px) and (max-width: 1024px) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: 1024px) { @content; }
  }
}

// variables
//$main-color: #301103;
$main-color: #777;
$main-background: #9ce8e3;
$main-color-highlight: #fc4d2e;
$main-link: #fe8787;
$custom-font: /*'Noto Serif', Georgia, serif*/'Inconsolata', sans-serif;
$sans: 'Helvetica Neue', Arial, sans-serif;

// clearfix
.cf:before,.cf:after{content:" ";display:table}.cf:after{clear:both}.cf{*zoom:1}

// mixins
@mixin text-shadow {
	text-shadow: 0 1px 0 rgba(0,0,0,0.125), 0 2px 1px rgba(0,0,0,0.075);
}
@mixin transition($name, $time, $easing) {
	transition: $name $time $easing;
}

::selection {
	background: $main-color-highlight;
	color: white;
	@include text-shadow;
}
::-moz-selection {
	background: $main-color-highlight;
	color: white;
	@include text-shadow;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {

	font: normal 100%/1.5 $sans;
	//background: lighten(yellow, 40%);
	//border:10px solid lighten($main-color, 10%);
	color: white;
	//background: rgba(50,255,255,0.5);
	padding: 0;

	&.yep {
		height: 100%;
		min-height: 100%;
		width: 100%;
		color: lighten($main-color, 10%);
		font-family: $custom-font;
		padding: 2em 0;
		&.hm {
			//padding: 2em 0;
		}
	}

}

body {

	&.yep {
		height: 100%;
		min-height: 100%;
		width: 100%;
		min-width: 100%;
		max-width: 50em;
	}

	&.frameBody {
		color: white;
	}
	
	//padding:1em 2em;

	//outline: 10px solid red;
	//border:10px solid lighten($main-color, 40%);

	@include respond-to(mobile) { width: 100% ; }
	/*@include respond-to(tablet) { width: 100% ; }
	@include respond-to(desktop) {
		width: 1000px;
		margin:0 auto;
		padding:1em 0 2em;
	}*/
	//margin:0 auto;
	display: table;

}

h1, h2, h3, h4 {
	margin-bottom: 1em;
	letter-spacing: -1px;
}
p {
	margin-bottom: 1.3em;
}

a {
	//text-decoration: none;
}
a:visited {
	color: darken(cyan, 20%);
}
small {

	a {
		text-decoration: none;
	}

}

.intro {
	//border-top: 1px solid rgba(0,0,0,0.1);
	//padding: 2em 0.1;
	max-width: 32em;
	margin: 0 auto 2em;
	padding: 0 2em 1em;
	//font-family: 'Archivo Narrow', sans-serif !important;
	//font-size: 100% !important;
	//text-align: center;

	strong {
		//color: $main-color-highlight;
		color: #333;
	}

	a {
		//color: rgba(0,0,0,0.5);
		//opacity: .6;
		//position: relative;

		&:hover {
			text-decoration: none;
		}

		&:active {
			top: 1px;
		}

	}

	.btn {
		.home & {
			max-width: 100%;
			margin: 2em 0;
		}
	}

}

h5 {
	text-align: center;
	font-family: 'Inconsolata', sans-serif;
	font-weight: normal;

	a, a:visited {
		//color: rgba(0,0,0,0.5);
		color: #555;
		font-weight: bold;
		//opacity: .6;
		position: relative;

		&:hover {
			text-decoration: none;
		}

		&:active {
			top: 1px;
		}

	}

}

// button links
.btn, .btn:visited, [type=submit] {
	//background: $main-link;
	letter-spacing: -1px;
	font: bold 150%/1 $custom-font;
	background: lighten($main-color, 25%);
	color: white;
	text-decoration: none;
	display: block;
	padding: .75em 2em .85em;
	line-height: 1;
	//margin: 0 2em;
	text-align: center;
	max-width: 15em;
	margin: 0 auto;
	border-radius: 3px;
	border:2px solid rgba(0,0,0,0.2);
	box-shadow: 0 -3px 0 rgba(0,0,0,0.25) inset, 0 1px 0 rgba(255,255,255,0.1) inset, 0 1px 3px rgba(0,0,0,0.1), 0 1px 10px rgba(0,0,0,0.07);

	@include text-shadow;
	//@include transition(all, .2s, ease-in-out);

	.home & {
		margin: 2em auto;
		max-width: 15em;
		&:before {
			display: none;
		}
	}

	&:before {
		content:"\f067";
		font-family: 'FontAwesome';
		position: relative;
		left: -4px;
		top: -1px;
		font-size: 80%;
	}

	&:hover {
		background: $main-color-highlight;
	}

	&:active {
		//opacity: .75;
		box-shadow: 0 1px 3px rgba(0,0,0,0.2) inset;
		//padding: .8em 2em;
		color: rgba(255,255,255,0.75);
		background: darken($main-color-highlight, 15%);
	}

}

[type=submit] {
	font-size: 100%;
}

.table-cell {
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
	&.home {
		display: block;
		.wrapper {
			max-width: 70em;
			padding: 0;
		}
		p {
			font-size: 100%;
		}
	}

	.wrapper {
		max-width: 50em;
		padding: 0 2em;
		margin: 0 auto;

		&.edit {
			padding: 3em 2em 1em;
		}

	}

	p {
		font: normal 90%/1.5 $sans;
		margin-bottom: 1.3em;
	}

}

.table {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	//background: rgba(255,255,255,0.5);
	display: table;
	width: 100%;
	height: 100%;

	&.nope {
		display: none;
	}

	.options {
		display: none;
		max-width: 40em;
		margin: 0;
		padding: 2em 2em 1em;
		background: white;
		color: rgba(0,0,0,0.75);
		box-shadow: 0 1px 3px rgba(0,0,0,0.2);
		border: 3px solid rgba(0,0,0,0.2);
		position: relative;
		left: -3px;

		h2 {
			margin-bottom: 0;
			opacity: .7;
		}

		p {
			//border-bottom: 1px solid rgba(0,0,0,0.2);
			//padding-bottom: 1.5em;
			margin-top: .25em;
			margin-bottom: 2em;
			opacity: .7;
		}

		.close {
			display: block;
			position: absolute;
			top: -.1em;
			right: -.1em;
			line-height: 1;
			cursor: pointer;
			color: white;
			font-size: 200%;
			background: #ccc;
			padding: .5em .6em;
			@include text-shadow;

			&:hover {
				//opacity: .75;
				background: lighten($main-color-highlight, 10%);
			}

			&:active {
				//opacity: .5;
				background: $main-color-highlight;
				box-shadow: 0 1px 3px rgba(0,0,0,0.2) inset;
				color: rgba(255,255,255,0.75);
			}

		}

		.remove {
			cursor: pointer;

			&:before {
				background: $main-color-highlight;
				color: white;
				padding: .25em .3em;
			}

		}

		&.yepp {
			display: block;
		}

		h2 {
			margin-top:0;
		}

		fieldset {
			margin: 0 0 1em;
			clear: right;

			&.t {
				position: relative;
				top: -.5em;
			}

		}

		[type=color] {
			display: inline;
			width: auto;
			outline: none;
			border: none;
			background: none;
			margin: 0;
			padding: 0;
			font-size: 100%;
			line-height: 1;
			height: 1px;

			&:before {
				content: "\f040";
				font-family: 'FontAwesome';
				background: rgba(0,0,0,0.1);
				padding: .25em .35em;
				position: relative;
				top: -12px;
				cursor: pointer;
			}

		}

		[type=text] {
			display: inline-block;
			width: auto;
			margin:-.9em 0 .5em 0;
			font-size: 80%;
			padding: .8em;
			float: right;
		}

		[type=checkbox] {
			-webkit-appearance: none;
			display: inline-block;
			outline: none;
			border: none;
			background: rgba(0,0,0,0.1);
			height: 20px;
			width: 20px;
			margin: 0;
			position: relative;
			top: 4px;
			left: 5px;

			&:checked {

				background: $main-color-highlight;

				&:before {
					content: "\f00c";
					font-family: 'FontAwesome';
					position: relative;
					top: -6px;
					left: 2px;
					font-size: 80%;
					color: white;
				}
			}

		}

		.c {
			padding-bottom: 1em;
		}

		/*.c span {

			&:after {
				content: "";
				display: inline-block;
				background: rgba(0,0,0,0.1);
				height: 20px;
				width: 20px;
				position: relative;
				top: 4px;
				left: 5px;
			}

		}*/

		select {
			float: right;
			font-size: 80%;

			@media screen and (-webkit-min-device-pixel-ratio:0) {
				font-size: 100%;
			}

		}

		@media screen and (max-width:50em){

			fieldset {
				margin-bottom: 2em;
			}

			[type=text], select {
				display: block;
				clear: both;
				margin: .5em 0;
				float: none;
				width: 100%;
			}
		}

	}

}

header {

	.home & {
		position: relative;
		text-shadow: 0 1px 0 rgba(0,0,0,0.15), 0 2px 1px rgba(0,0,0,0.1);

		h2 {
			position: absolute;
			left: 0;
			top: 1em;
			text-align: center;
			width: 100%;
			line-height: 1;
			margin: 0;
			font-size: 1.35em;
			font-weight: normal;
			color: white;
			a {
				color: white;
			}
		}
		h3 {
			position: absolute;
			right: 1em;
			top: 1em;
			line-height: 1;
			margin: 0;
			font-size: 1.35em;
			//display: none;
			a {
				color: white;
				opacity: .7;
				text-decoration: none;
			}
		}
		small {
			position: absolute;
			bottom: 1.25em;
			left: 0;
			width: 100%;
			text-align: center;
			color: white;
			font: bold 1.75em/1.05 'Inconsolata', sans-serif;
			letter-spacing: -1px;
			padding: 0 2em;
			z-index: 2;
		}
		.grad {
			position: absolute;
			bottom: 7px;
			left: 0;
			width: 100%;
			height: 100px;
			background: transparent;
			background: -webkit-gradient(linear, 0 0, 0 bottom, from(transparent), to(rgba(0,0,0,0.75)));
			background: -webkit-linear-gradient(transparent, rgba(0,0,0,0.75));
			background: -moz-linear-gradient(transparent, rgba(0,0,0,0.75));
			background: -ms-linear-gradient(transparent, rgba(0,0,0,0.75));
			background: -o-linear-gradient(transparent, rgba(0,0,0,0.75));
			background: linear-gradient(transparent, rgba(0,0,0,0.75));
		}
		img {
			width: 100%;
			outline: 3px solid rgba(0,0,0,0.15);
		}
	}
	
	h2 {
		text-align: center;
		//text-transform: uppercase;
		font-size: 2em;
		letter-spacing: -1px;
		margin: 0 0 .5em;

		span {
			padding-left:5px;
			font-size: 90%;
		}

		a, :visited {
			text-decoration: none;
			//color: lighten($main-color, 5%);
			color: rgba(0,0,0,0.75);
			cursor: default;

			span {
				//color: $main-color-highlight;
			}

		}

	}
}

// form
form {

	padding-top: 2em;

	fieldset {
		border: 0;
		padding: 0;
		margin: 0 0 2em;

		&.m {
			margin-bottom: 1em;
		}

		label {
			cursor: pointer;

			&:active {
				opacity: .75;
			}

		}

		// wysiwyg editor
		.rte-toolbar, iframe.rte-zone {
			width: 100%;
			border: 3px solid rgba(0,0,0,0.1);
			border-bottom: 1px solid rgba(0,0,0,0.2);
			padding: 1em 1em 1.2em;
		}

		.rte-toolbar {

			.close {
				cursor: pointer;

				&:hover {
					color: $main-color-highlight;
				}

				&:active {
					opacity: .65;
				}

			}

			select {
				-webkit-appearance: none;
				padding: .5em 2em .5em .5em;
				margin: 0 0 0 .2em;
				border: 1px solid rgba(0,0,0,0.1);
				color: rgba(0,0,0,0.75);
				border-radius: 0;
				position: relative;
				top: -.1em;
				z-index: 1;
				font-size: 85%;

				+ span {
					content: "\f103";
					position: relative;
					right: 1.5em;
					top: .1em;
					color: rgba(0,0,0,0.5);
					height: 100%;
					width: 100%;
					font-family: FontAwesome;
					z-index: 2;
					font-size: 15px;
				}

			}

			div {

				p {
					display: inline-block;
					margin-bottom: 0;

					img {
						position: relative;
						top: .5em;
						display: none;
					}

					a {
						display: inline-block;
						position: relative;
						width: 2em;
						height: 2em;
						padding: .5em;
						margin: .2em 0 0 .2em;
						border: 1px solid rgba(0,0,0,0.1);
						color: rgba(0,0,0,0.5);

						&:hover {
							border: 1px solid $main-color-highlight;
							color: $main-color-highlight;
						}

						&:active {
							opacity: .65;
						}

					}

				}

			}

		}

		iframe.rte-zone {
			border-bottom: 3px solid rgba(0,0,0,0.1);
			border-top: 0;
			padding: 1em 1em 0;
			//background: rgba(0,0,0,0.75);
			background: white;

		}

		label, h2, h3, h4, p {
			display:block;
			margin: 0 0 .5em;
			font: bold 120%/1 $custom-font;
			color: rgba(0,0,0,0.75);
		}

		label {

		}

		input, textarea {
			display: block;
			width: 100%;
			padding: 1em;
			margin: 0 0 1em;
			//outline: 3px solid rgba(0,0,0,0.1);
			font: normal 100%/1.5 $sans;
			outline: none;
			//border: 3px solid rgba(0,0,0,0.1);
			border: 0;
			background: rgba(0,0,0,0.75);
			color: white;

			-webkit-appearance: none;
			-webkit-border-radius: 0;

			&:focus {
				outline: 3px solid $main-color-highlight;
				//border: 3px solid rgba(0,0,0,0.4);
				//box-shadow: 0 0 3px rgba(0,0,0,0.15), 0 0 6px rgba(0,0,0,0.075), 0 0 20px rgba(0,0,0,0.075);
			}

		}

		[type=radio] {
			display: inline-block;
			outline: none;
			width: auto;
		}

		[type=submit] {
			margin-top: 2em;
			padding-bottom: 1em;
			letter-spacing: 0;

			&:active {
				padding: .8em 0 .95em;
			}

		}

		/*[type=submit] {
			background: lighten($main-color, 25%);
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			margin-top: 2em;

			@include text-shadow;
			@include transition(all, .2s, ease-in-out);

			&:hover {
				background: $main-color;
			}

			&:active {
				opacity: .75;
				padding: 1.05em 1em .95em;
			}

		}*/

		// for radio or checkboxes
		.i {
			display: inline-block;
			//margin-right: .5em;
			font-weight: normal;
			font-size: 100%;
			width:48%;
			float: left;
			margin-top: .3em;
			//padding: 1em;
			//min-height: 30em;
			//text-align: center;
			//background: rgba(0,0,0,0.1);
			cursor: pointer;
			position: relative;

			img {
				max-width: 100%;
				//opacity: .35;
				outline: 3px solid rgba(0,0,0,0.1);
				background: white;

				&:hover {
					outline-color: $main-color-highlight;
				}

			}

			span {
				position: absolute;
				top: 50%;
				left: 0;
				width: auto;
				display: inline-block;
				text-align: center;
				color: white;
				padding: 1em;
				background: darken($main-color, 25%);
			}

			&:hover {
				opacity: .75;
			}

			&:hover span {
				background: $main-color-highlight;
			}

			&:active, &.checked, &.checked:hover {
				opacity: .5;
			}

			&.checked img {
				outline-color: $main-color-highlight;
			}
			&.checked span {
				background: $main-color-highlight;
			}

			/*&:before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.1);
				outline: 3px solid rgba(0,0,0,0.2);
			}*/

			+ .i {
				float: right;
			
				/*&:before {
					width: 47%;
				}

				&:after {
					content: "";
					display: block;
					position: absolute;
					right: 0;
					top: 0;
					width: 47%;
					height: 100%;
					background: rgba(0,0,0,0.1);
					outline: 3px solid rgba(0,0,0,0.2);
				}*/

			}

			@include respond-to(tablet) {
				/*display: block;
				width: 100%;
				float: none;
				margin-bottom: 1.5em;
				min-height: 10em;

				img {
					display: block;
					margin-left: 
				}*/
			}

			input {
				visibility: hidden;
				height: 0;
				width: 0;
				display: none;
			}
		
		}

		.hide {
			visibility: hidden;
			height: 0;
			width: 0;
			display: none;
		}

	}

}

/**********
layouts
**********/
.body {
	height: 100%;
	min-height: 100%;
	width: 100%;
}
.layout {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
	z-index: 1;

	+ form {
		padding-top: 0;
	}

	small {
		display: block;
		padding: .5em;
		line-height: 1;
		background: none;
		text-align: right;
		font-family: $sans;
		color: rgba(0,0,0,0.5);
		position: fixed;
		left: 1em;
		top: 1em;
		z-index: 2;

		.edit {
			font-size: 150%;
			position: static;
			color: white;
			display: block;
			background: rgba(0,0,0,0.35);
			padding: 0;
			text-align: center;
			width: 2.1em;
			//margin: 0 0 1em;
			//overflow: hidden;
			@include text-shadow;

			&:hover {
				background: lighten($main-color-highlight, 10%);
			}

			&:active {
				background: $main-color-highlight;
			}

			&:before {
				padding: .65em 0;
				background: none;
				width: 100%;
			}
			
			span {
				position: relative;
				&:after {
					content: attr(data-title);
					position: absolute;
					text-shadow: none;
					color: rgba(0,0,0,0.5);
					font: bold 65%/1 'Archivo Narrow', sans-serif;
					width: 100px;
					top: 5px;
					right: -110px;
					text-align: left;
					opacity: 1;
					display: none;
				}
			}

			&:hover:before, &:active:before {
				background: none;
			}

			&:hover span:after {
				display: block;
			}

		}

	}

	@media screen and (max-width:70em){
		small {
			left: 0;
			top: auto;
			bottom: 0;
			padding: 0;
			width: 100%;

			.edit {
				width: 20%;
				float: left;
				//background: darken($main-color, 40%);

				&:before {
					padding: 1em 0;
				}

				span {
					&:after {
						content: "";
					}
				}

			}

			&.i {
				.edit {
					width: 50%;
				}
			}

			&.cls {
				top: 1em;
				left: 1em;
				padding: .5em;
				bottom: auto;

				.edit {
					width: 2.1em;

					&:before {
						padding: .65em 0;
					}

				}

			}

		}

	}

	header {
		width: 100%;
		height: auto;
		height: 200px;
		min-height: 200px;
		background: rgba(0,0,0,0.3);
		color: white;
		display: table;
		margin: 0 0 2em;
		position: relative;

		h2 {
			height: 100%;
			width: 100%;
			display: table-cell;
			vertical-align: middle;
			margin: 0;
			//font-family: $sans;
			font-weight: bold;
		}

		@media screen and (max-width:50em) {
			h2 {
				padding: 0 1em;
			}
		}

	}

	.edit {
		position: absolute;
		top: 0;
		right: -2.5em;
		cursor: pointer;

		&:before {
			background: rgba(0,0,0,0.2);
			padding:.25em .3em;
		}

		&:hover:before {
			background: rgba(0,0,0,0.3);
		}

		&:active:before {
			background: rgba(0,0,0,0.4);
		}

	}

	.main {
		//font: normal 100%/1.5 $sans;
		font-size: 100%;
		//color: #040407;
		border: 2px solid rgba(0,0,0,0.075);
		padding: 2em 2em 1em;
		margin-bottom: 2em;
		//box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 6px rgba(0,0,0,0.05);
		position: relative;
		background: white;

		&.no-edit {
			margin: 0 0 2em;
		}

		.edit {
			color: white;
		}

		h1, h2, h3, h4, p {
			margin: 0 0 20px;
		}

		h1, h2, h3, h4 {
			line-height: 1.2;
		}

		p, li {
			font-size: 90%;
		}

		li {
			margin-bottom: .75em;
		}

		img {
			float: right;
			//min-height: 100px;
			//min-width: 300px;
			margin: .25em 0 2em 2em;
			border: 0;
			//background: white;
			//padding: 1em;
			//border: 2px solid rgba(0,0,0,0.1);

			&.w {
				min-width: 47.5%;
				padding: 0;
				border: 0;
			}

		}

		hr {
			border: 0;
			background: rgba(0,0,0,0.1);
			height: 1px;
			margin: 2em 0;
		}

	}

	.left, .right {
		float: left;
		width: 48%;
		padding: 0 .5em 0 0;

		img {
			float: none;
			margin: 0 0 2em;
			//max-width: 100%;
			width: 100%;
		}

	}
	.right {
		float: right;
		padding: 0 0 0 .5em;
		//font-size: 70%;

		div, span {
			font-size: 90%;
		}

		p, li {
			font-size: 90%;
		}

	}

	@media screen and (max-width:50em){
		.left, .right {
			width: 100%;
			float: none;
			padding: 0;
		}
	}

	.btn {
		margin: 2em auto;
		font-size: 100%;
	
		&:before {
			content: "\f040";
		}

	}

}

@media screen and (max-width:50em) {
	.main > img {
		margin-left: 0;
		width: 100%;
	}
}
@media screen and (min-height:30em) {
	html.yep {
		padding: 0;
	}
}
@media screen and (min-width:60em) {
	/*.intro {
		float: left;
		margin-left: 3em;
		& + .btn {
			float: right;
			margin: 2em 3em 2em 0;
		}
	}*/
}

/**********
scaffolds css
**********/

@-webkit-keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@-moz-keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

#notice {
  color: $main-color-highlight;
  background: yellow;
  padding: 1em;
  display: inline;
  position: fixed;
  right: 2em;
  top: 0;
  max-width: 10em;
  font: bold 80%/1.3 $sans;
  opacity: 0;
  -webkit-animation: fadeout 3s ease-in-out 1;
  -moz-animation: fadeout 3s ease-in-out 1;
  animation: fadeout 3s ease-in-out 1;

	&:empty {
		background: none;
	}

}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}