// Place all the styles related to the Contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: 320px) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: 321px) and (max-width: 1024px) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: 1024px) { @content; }
  }
}

// variables
$main-color: #301103;
$main-background: #9ce8e3;
$main-link: #fe8787;
$custom-font: 'Vidaloka', Georgia, serif;
$sans: 'Helvetica Neue', Arial, sans-serif;

// mixins
@mixin text-shadow {
	text-shadow: 0 1px 0 rgba(0,0,0,0.125), 0 2px 1px rgba(0,0,0,0.075);
}
@mixin transition($name, $time, $easing) {
	transition: $name $time $easing;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {

	font:normal 100%/1.5 $custom-font;
	height:auto;
	min-height:100%;
	width:100%;
	background: lighten(yellow, 40%);
	border-top:10px solid lighten($main-color, 25%);
	color: lighten($main-color, 25%);
}

body {

	height:auto;
	min-height:100%;
	width:100%;
	padding:1em 2em;

	@include respond-to(mobile) { width: 100% ; }
	@include respond-to(tablet) { width: 100% ; }
	@include respond-to(desktop) {
		width: 1000px;
		margin:0 auto;
		padding:1em 0 2em;
	}

}

h1, h2, h3, h4, li, p {
	margin-bottom: 1em;
	letter-spacing: -1px;
}

// button links
.btn {
	background: $main-link;
	color: white;
	text-decoration: none;
	display: block;
	padding: 1em;

	@include text-shadow;
	@include transition(all, .2s, ease-in-out);

	&:hover {
		background: darken($main-link, 15%);
	}

}

header {
	h2 {
		text-align: center;
		//text-transform: uppercase;
		font-size: 2em;
		font-weight: normal;

		span {
			padding-left:5px;
			font-size: 90%;
		}

		a {
			text-decoration: none;
			color: lighten($main-color, 25%);
		}

	}
}

// form
form {

	fieldset {
		border: 0;
		padding: 0;
		margin: 0 0 2em;

		&.m {
			margin-bottom: 1em;
		}

		label {
			cursor: pointer;

			&:active {
				opacity: .75;
			}

		}
	
		label, h2, h3, h4, p {
			display:block;
			margin: 0 0 .5em;
			font: bold 120%/1 $custom-font;
		}

		input, textarea {
			display: block;
			width: 100%;
			padding: 1em;
			margin: 0 0 1em;
			outline: 3px solid rgba(0,0,0,0.1);
			border: 0;

			&:focus {
				outline: 3px solid rgba(0,0,0,0.2);
				box-shadow: 0 0 3px rgba(0,0,0,0.15), 0 0 6px rgba(0,0,0,0.075), 0 0 20px rgba(0,0,0,0.075);
			}

		}

		[type=radio] {
			display: inline-block;
			outline: none;
			width: auto;
		}

		[type=submit] {
			background: lighten($main-color, 25%);
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			margin-top: 2em;

			@include text-shadow;
			@include transition(all, .2s, ease-in-out);

			&:hover {
				background: $main-color;
			}

			&:active {
				opacity: .75;
				padding: 1.05em 1em .95em;
			}

		}

		// for radio or checkboxes
		.i {
			display: inline-block;
			//margin-right: .5em;
			font-weight: normal;
			font-size: 100%;
			width:48%;
			float: left;
			margin-top: .3em;
			//padding: 1em;
			//min-height: 30em;
			//text-align: center;
			//background: rgba(0,0,0,0.1);
			cursor: pointer;
			position: relative;

			img {
				max-width: 100%;
				opacity: .35;
				outline: 3px solid rgba(0,0,0,1);
			}

			span {
				position: absolute;
				top: 50%;
				width: 100%;
				text-align: center;
				color: darken($main-color, 25%);
			}

			&:hover {
				opacity: .75;
			}

			&:active {
				opacity: .5;
			}

			/*&:before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.1);
				outline: 3px solid rgba(0,0,0,0.2);
			}*/

			+ .i {
				float: right;
			
				/*&:before {
					width: 47%;
				}

				&:after {
					content: "";
					display: block;
					position: absolute;
					right: 0;
					top: 0;
					width: 47%;
					height: 100%;
					background: rgba(0,0,0,0.1);
					outline: 3px solid rgba(0,0,0,0.2);
				}*/

			}

			@include respond-to(tablet) {
				/*display: block;
				width: 100%;
				float: none;
				margin-bottom: 1.5em;
				min-height: 10em;

				img {
					display: block;
					margin-left: 
				}*/
			}

			input {
				visibility: hidden;
				height: 0;
				width: 0;
				display: none;
			}
		
		}

	}

}

/**********
scaffolds css
**********/
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}